@keyframes load 
    0% 
        transform: scale(60%)
        opacity: 50%
    
    30% 
        transform: scale(38%)
        opacity: 100%
    
    95% 
        transform: scale(38%)
        opacity: 100%
    
    100%
        opacity: 0%
        transform: scale(30%)

    
#load-logo 
    height: 320px
    opacity: 0%
    animation-name: load
    animation-duration: 0.2s
    filter: invert(1)