@import "_00vars"

@keyframes slide-music
    0% 
        transform: translate(0)
    
    100%
        transform: translateX(282px)


.music-wrapper
    overflow-x: hidden
    .music
        display: flex
        flex-direction: column
        align-items: center
        background-color: $color-blue-secondary
        box-shadow: 0px -1px 4px #333
        height: 300px
        overflow: hidden
        padding: 10px
        h2
            color: white
            margin: 0
            white-space: nowrap
            animation-name: slide-music
            animation-duration: 5s
            animation-timing-function: linear
            animation-iteration-count: infinite
            background-color: $color-orange
        p
            font-weight: 600
            margin: 10px
            color: white
        > img
            height: 300px
            width: 100%
            opacity: 10%
            z-index: 1
            position: absolute
            overflow: hidden
            margin-left: -10px
        h3
            color: white
            margin: 10px
            font-size: 20px

        .joelle-profile
            margin-top: 30px
            display: flex
            align-items: center
            z-index: 2
            img
                // margin-top: 30px
                border-radius: 50%
                height: 150px

