@import "_00vars"
    
@keyframes slide-tickets
    0% 
        transform: translate(0)
    
    100%
        transform: translateX(2120px)



.tickets-wrapper
    margin-top: 10px
    background-color: $color-blue-secondary
    box-shadow: 0px -1px 4px #333
    padding: 10px 0 0 0
    overflow-x: hidden
    h2
        color: white
        margin: 0
        white-space: nowrap
        animation-name: slide-tickets
        animation-duration: 40s
        animation-timing-function: linear
        animation-iteration-count: infinite
        background-color: $color-orange
        margin-left: -2800px
        img
            height: 20px
            filter: invert(1)
            margin: 0 10px

    .tickets
        display: grid
        grid-template: repeat(auto-fit, minmax(130px, 1fr)) / repeat(auto-fit, minmax(190px, 1fr))
        justify-items: center
        gap: 10px
        padding: 10px 3px
        margin-top: 5px

        .ticket
            width: min(140px, 70%)
            padding: 10px
            box-shadow: 0px 0px 4px #444
            border-radius: 7px
            background-color: $color-pink
            display: flex
            flex-direction: column
            align-items: flex-start
            line-height: 20px
            h5
                margin: 0
                color: #FFF
                font-size: 25px
                font-family: fondy
                font-weight: 500
            h6
                margin-top: 5px
                color: white
                font-size: 10px
                font-weight: 600
                color: #FFF
            p
                color: #FFF
                margin: 10px 0
                font-weight: 600
            ul
                list-style-type: none
                padding: 0
                li
                    padding: 2px 0
                    
