nav#navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #FFF;
  width: 100vw;
  height: 50px;
  box-shadow: 0px 0px 4px #333;
  position: fixed;
  top: 0px;
  opacity: 80%;
  z-index: 100;
}
nav#navbar .nav-group {
  padding: 10px;
}
nav#navbar .nav-group a {
  color: white;
}
nav#navbar .nav-logo {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
nav#navbar .nav-logo img {
  height: 35px;
  opacity: 100%;
}

.video-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 60px 0 20px 0;
  box-shadow: 0px 0px 5px #333;
}
.title span {
  font-size: min(40px, 2.4rem);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.title span:nth-child(1) {
  color: #ff980e;
  font-size: 50px;
  margin-right: 80px;
}
.title span:nth-child(2) {
  color: #f81193;
  margin-left: 80px;
  margin-top: -15px;
}
@keyframes slide-tickets {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translateX(2120px);
  }
}
.tickets-wrapper {
  margin-top: 10px;
  background-color: #208996;
  box-shadow: 0px -1px 4px #333;
  padding: 10px 0 0 0;
  overflow-x: hidden;
}
.tickets-wrapper h2 {
  color: white;
  margin: 0;
  white-space: nowrap;
  animation-name: slide-tickets;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-color: #ff980e;
  margin-left: -2800px;
}
.tickets-wrapper .tickets {
  display: grid;
  grid-template: repeat(auto-fit, minmax(130px, 1fr))/repeat(auto-fit, minmax(190px, 1fr));
  justify-items: center;
  gap: 10px;
  padding: 10px 3px;
  margin-top: 5px;
}
.tickets-wrapper .tickets .ticket {
  width: min(140px, 70%);
  padding: 10px;
  box-shadow: 0px 0px 4px #444;
  border-radius: 7px;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 20px;
}
.tickets-wrapper .tickets .ticket h5 {
  margin: 0;
  color: #000;
  font-size: 25px;
  font-family: fondy;
  font-weight: 500;
}
.tickets-wrapper .tickets .ticket h6 {
  margin-top: 5px;
  color: white;
  font-size: 10px;
  font-weight: 600;
  color: #000;
}
.tickets-wrapper .tickets .ticket p {
  color: black;
  margin: 10px 0;
  font-weight: 600;
}
.tickets-wrapper .tickets .ticket ul {
  list-style-type: none;
  padding: 0;
}
.tickets-wrapper .tickets .ticket ul li {
  padding: 2px 0;
}

footer {
  background-color: #FFF;
  color: white;
  width: 100%;
  padding: 0px;
  box-shadow: 0px 0px -4px #333;
}
footer .social-media-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 7px;
}
footer .social-media-buttons a {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
footer .social-media-buttons img {
  height: 28px;
  filter: invert(1);
  opacity: 60%;
}

@keyframes slide-music {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translateX(2820px);
  }
}
.music-wrapper {
  overflow-x: hidden;
}
.music-wrapper .music {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #208996;
  overflow: hidden;
  padding: 10px;
}
.music-wrapper .music h2 {
  color: white;
  margin: 0 0 20px -500px;
  white-space: nowrap;
  animation-name: slide-music;
  animation-duration: 50s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-color: #ff980e;
  z-index: 2;
}
.music-wrapper .music p {
  font-size: 20px;
  font-weight: 600;
  margin: 10px;
  color: white;
  padding: 5px;
  border-radius: 7px;
  z-index: 2;
}
.music-wrapper .music > img {
  height: 300px;
  width: 100%;
  opacity: 10%;
  z-index: 0;
  position: absolute;
  overflow: hidden;
  margin-left: -10px;
}
.music-wrapper .music h3 {
  color: white;
  margin: 10px;
  font-size: 20px;
}
.music-wrapper .music .music-profile {
  display: flex;
  align-items: center;
  z-index: 2;
}
.music-wrapper .music .joelle img {
  border-radius: 50%;
  height: 150px;
}
.music-wrapper .music .joelle .profile-text p {
  font-size: 10px;
}
.music-wrapper .music .dj img {
  border-radius: 50%;
  height: 150px;
}
.music-wrapper .music .dj .profile-text p {
  font-size: 10px;
}

.games-wrapper h2 {
  color: white;
}
.games-wrapper .games {
  color: #208996;
  height: 300px;
}

@keyframes slide-kharboushe {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translateX(3870px);
  }
}
.kharboushe-wrapper {
  background-color: #FFF;
  padding: 10px 0 0 0;
  overflow-x: hidden;
}
.kharboushe-wrapper .kharboushe-title {
  display: flex;
  align-items: center;
  white-space: nowrap;
  background-color: black;
  animation-name: slide-kharboushe;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  margin: 0 0 0 -4000px;
  height: 35px;
  color: white;
  padding: 1px 0;
}
.kharboushe-wrapper .kharboushe-title h2 {
  color: white;
  font-size: 25px;
  padding: 5px 0;
  margin: 0 2px 0 0;
}
.kharboushe-wrapper .kharboushe-title span {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
}
.kharboushe-wrapper .kharboushe-title img {
  height: 30px;
  filter: invert(1);
  margin: 0 30px;
}
.kharboushe-wrapper .kharboushe {
  box-shadow: 0px -1px 4px #333;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
.kharboushe-wrapper .kharboushe p {
  margin: 0;
}
.kharboushe-wrapper .kharboushe .kharboushe-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.kharboushe-wrapper .kharboushe .kharboushe-item img {
  border-radius: 50%;
  height: 100px;
}
.kharboushe-wrapper .kharboushe .kharboushe-item .kharboushe-item-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.kharboushe-wrapper .kharboushe .kharboushe-item p:nth-child(1) {
  font-size: 25px;
}
.kharboushe-wrapper .kharboushe .kharboushe-item p:nth-child(2) {
  font-size: 15px;
}
.kharboushe-wrapper .kharboushe .left {
  flex-direction: row-reverse;
}
.kharboushe-wrapper .kharboushe .left .kharboushe-item-text {
  align-items: flex-end;
}
.kharboushe-wrapper .kharboushe .left .kharboushe-item-text p {
  text-align: right;
}

@keyframes slide-partners {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translateX(-220px);
  }
}
.all-logos-wrapper {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
  margin-bottom: 20px;
}
.all-logos-wrapper .logo-line {
  box-shadow: 0px 0px 3px #333;
  padding: 6px 0;
  display: grid;
  grid-template-columns: 50px repeat(auto-fit, minmax(90px, 1fr));
  gap: 20px;
  background-color: #208996;
}
.all-logos-wrapper .logo-line h3 {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 10px;
  transform: rotate(180deg);
  color: #FFF;
  text-align: center;
  z-index: 5;
}
.all-logos-wrapper .logo-line .logos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.all-logos-wrapper .logo-line .logos img {
  height: 50px;
  flex-shrink: 1;
}

@font-face {
  font-family: fondy;
  src: url("./res/fondy.ttf");
}
@keyframes show {
  0% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
    transform: scale(100%);
  }
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  overflow-x: hidden;
  background-color: #3ec0d2;
}

.show {
  animation-name: show;
  animation-duration: 0.3s;
}

.hidden {
  display: none;
  opacity: 0;
}

span.pink {
  color: #f81193;
}

span.orange {
  color: #ff980e;
}

.wrapper {
  margin: 100px 0;
  box-shadow: 0px 0px 7px #333;
}

/*# sourceMappingURL=index.css.map */
