nav#navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #000;
    margin: -0.5rem;
    height: 50px;
}

nav#navbar .nav-logo{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

nav#navbar .nav-logo img{
    filter: invert(1);
    height: 35px;
}

footer {
    background-color: #000;
    color: white;
    width: 100%;
    min-height: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 0;
}

footer .social-media-buttons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

footer .social-media-buttons a{
    height: 25;
}

footer .social-media-buttons img{
    height: 25px;
}